{{>navbar userInfo=userInfo}}
<h3 class="pt-2">Please, introduce your new profile details: </h3>
<br>
<form
  class="border border-2 p-2 bg-light"
  action="/users/profile/edit/{{user._id}}"
  method="POST"
  enctype="multipart/form-data"
>

<div class="form-group">
  <div class="mb-3">
  <label class="form-label" for="profilePhoto"></label>
  <input class="form-control" type="file" id="formFile" name="imgUrl" />
  </div>
</div>
<div class="row">
  <div class="col">
    <label for="name">Name: </label>
    <input class="form-control" type="text" value="{{user.name}}" name="name" required /><br />
  </div>

  <div class="col">
    <label for="surname">Surname: </label>
    <input class="form-control" type="text" value="{{user.surname}}" name="surname" required /><br />
  </div>
</div>

<div class="row">
  <div class="col-6">
  <label for="username">Username: </label>
  <input class="form-control" type="text" name="username" value="{{user.username}}" required />
  </div>
</div>
  <br />

<div class="form-group">
  <label for="bio">Biography: </label>
  <textarea class="form-control" type="text" value="{{user.bio}}" id="bio" rows="3" name="bio" required /></textarea>
  <br/>
</div>

<hr/>
<div class="row">
    <div class="col">
    <label for="email">Email: </label>
    <input class="form-control" type="email" name="email" value="{{user.email}}" required /><br />
  <br />
    </div>

  <div class="col">
    <label for="password">Password: </label>
    <input
      class="form-control"
      type="password"
      name="password"
      id="password"
      placeholder="Type your new password"/> 
  </div>
</div>

  <button class="btn btn-primary" type="submit">Submit new changes</button>
</form>
</div>
<<<<<<< HEAD
=======
<a href="/profile/{{user._id}}">Back</a>
<br>
<br>
<br>
>>>>>>> fdfa93a3a74b921bed53807e6f1009ab90d17a42
{{#if errorMessage}}
  <p>{{errorMessage}}</p>
{{/if}}