{{>navbar userInfo=userInfo}}

<div class="profile-header">
        <img class="profilePhoto-in-profile"  src="{{user.profilePhoto}}" alt="Profile photo">
    <div class="profile-text">
        <h1>@{{user.username}}</h1>
        <p>{{user.bio}}I started learning web dev but all I got from it was dispair, sadness and a frustration feeling. Then I tried pies and haven't looked back since then.</p>
        <a href="/users/profile/edit/{{userInfo._id}}">Edit my profile</a>
    </div>
</div>
<hr>
<h2>Friends:</h2>
{{#each user.friends}}
    <p><img style="width: 20px;" src="{{this.profilePhoto}}" alt="{{this.username}} Profile Photo"> <a href="/profile/{{this._id}}">{{this.username}}</a> - {{this.name}} {{this.surname}}</p>
{{/each}}

<h2>Posts:</h2>
{{#each userPosts}}
    <div class="post" style="border: solid;">
        <p>{{this.text}} - <i>{{formatDate this.createdAt}}</i></p>
        {{#if this.image}}
        <br>    
        <img src="{{this.image}}" width="100px" height="100px">
        {{/if}}
    </div>
    <br>
{{/each}}
<h2>Recipes:</h2>
{{#each userRecipes}}
    <div class="post" style="border: solid;">
        <p><a href="/library/details/{{this._id}}">{{this.name}}</a> - <i>{{this.createdAt}}</i></p>
        {{#if this.imgUrl}}
        <br>
        <img src="{{this.imgUrl}}" width="100px" height="100px">
        {{/if}}
    </div>
    <br>
{{/each}}


<a href="/welcome">Back</a>
