{{>navbar userInfo=userInfo}}

<div class="profile-header">
        <img class="profilePhoto-in-profile img-thumbnail"  src="{{user.profilePhoto}}" alt="Profile photo">
    <div class="profile-text">
        <h1>@{{user.username}}{{#if editButton}}{{else}}{{#if areFriends}} <a href="/profile/disconnect/{{user._id}}" class="btn btn-danger btn-sm">Unfollow</a>{{else}} <a href="/profile/connect/{{user._id}}" class="btn btn-primary btn-sm">Follow</a>{{/if}}{{/if}}</h1>
        <p>{{user.bio}}</p>
        {{#if editButton}}
        <a href="/users/profile/edit/{{userInfo._id}}">Edit my profile</a>
        {{/if}}
    </div>
</div>
<hr>



{{!-- I hope you guys like this :) --}}

  <div class="accordion" id="accordionPanelsStayOpenExample">
  <div class="accordion-item">
    <h2 class="accordion-header" id="panelsStayOpen-headingOne">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
        CONTACT LIST:
      </button>
    </h2>
    <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
      <div class="accordion-body">
        {{#each user.friends}}
             <p><img class="rounded-circle" style="width: 40px;" src="{{this.profilePhoto}}" alt="{{this.username}} Profile Photo"> <a href="/profile/{{this._id}}">{{this.username}}</a> - {{this.name}} {{this.surname}}</p>
        {{/each}}
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
        MY POSTS:
      </button>
    </h2>
    <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">
      <div class="accordion-body">
        {{#each userPosts}}
            <div class="post" style="">
                <p><li>'{{this.text}}' - <i>{{formatDate this.createdAt}}</i></li></p>
                {{#if this.image}}
                <br>    
                <img src="{{this.image}}" width="100px" height="100px">
                {{/if}}
            </div>
            <br>
        {{/each}}
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="panelsStayOpen-headingThree">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
        MY RECIPES:
      </button>
    </h2>
    <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree">
      <div class="accordion-body">
        {{#each userRecipes}}
            <div class="post" style="">
                <p><li><a href="/library/details/{{this._id}}">{{this.name}}</a> - <i>{{formatDate this.createdAt}}</i></li></p>
                {{#if this.imgUrl}}
                <br>
                <img src="{{this.imgUrl}}" width="100px" height="100px">
                {{/if}}
            </div>
            <br>
        {{/each}}
      </div>
    </div>
  </div>
</div>
<br>








