<div>
    <p>{{this.name}}</p>
    <hr>
    <p>Author: {{this.author.username}}</p>
    <img src="{{this.image}}">
    <details open><summary>Ingredients</summary>
    <ul>
        {{#each ingredients}}
        <li>
            {{this}}
            </li>
        {{/each}}

    </ul>
    </details>
    <details open><summary>Steps</summary>
    <ol>
        {{#each steps}}
        <li>
            {{this}}
            </li>
        {{/each}}

    </ol>
    </details>
</div>

<a href="/library">Back</a>