<div>
    <p>{{recipe.name}}</p>
    <hr>
    <p>Author: {{recipe.author.username}}</p>
    <img src="{{recipe.image}}">
    <details open><summary>Ingredients</summary>
    <ul>
        {{#each recipe.ingredients}}
        <li>
            {{this}}
            </li>
        {{/each}}

    </ul>
    </details>
    <details open><summary>Steps</summary>
    <ol>
        {{#each recipe.steps}}
        <li>
            {{this}}
            </li>
        {{/each}}

    </ol>
    </details>
    <hr>
    {{#if showDelete}}
    <a href="/library/delete/{{recipe._id}}">Delete Pie</a>
    {{/if}}
</div>
<hr>
{{#if showEdit}}
<a href="/library/edit/{{recipe._id}}">Edit Pie</a>
{{/if}}
<hr>
<a href="/library">Back</a>