{{>navbar userInfo=userInfo}}

<div class="container pt-1">
  <div class="container recipe-search">
    <form action="/library/search" method="GET">
        <div class="input-group mb-4">             
            <input type="text" style="border: 0px;" id="inputSearch" aria-describedby="button-addon5" class="form-control border" name="search" value="{{search}}" required>
            <button id="button-addon5" style="border: 0px;" class="btn btn-light border" type="submit">🔎</button>
        </div>
    </form>
</div>
</div>
  <div class="row text-center justify-content-center">
    {{#each recipes}}
      <div class="card p-1 m-2" style="width: 12rem;">
      <a href="/library/details/{{this.id}}"><img src="{{this.recipePhoto}}" class="card-img-top" alt="{{this.name}}"></a>
      <div class="card-body">
        <h5 class="card-title"><a href="/library/details/{{this.id}}" class="text-dark text-decoration-none">{{this.name}}</a></h5>
        <p class="card-text">By: <a href="/profile/{{this.author._id}}" class="text-dark">{{this.author.username}}</a></p>
        <p class="card-text">Difficulty: {{this.difficulty}}</p>
        <p class="card-text">Flavour: {{this.flavour}}</p>
        <a href="/library/details/{{this.id}}" class="btn btn-primary">See details</a>
      </div>
    </div>
    {{/each}}
</div>


<!--
<ul class="recipe-list">
  {{#each recipes}}
    <li>
        {{this.name}}
        Author: {{this.author.username}}
        <a href="/library/details/{{this.id}}">See details</a>
    </li>
  {{/each}}
</ul>
-->