{{>navbar userInfo=userInfo}}
<h2>Find your friends</h2>
<form action="/feed/connect" class="border border-2 p-2 bg-light" method="POST">
<div class="form-group d-flex">
  <input type="text" class="form-control" id="text" aria-describedby="text" name="search" required>
  <button class="btn btn-light" type="submit">🔎</button>
 </div>
</form>

<div class="searchContainer">
    {{#each userFriends}}
        <img src="{{this.profilePhoto}}" width="25px" height="25px"> <a href="/profile/{{this._id}}" class="link-dark text-decoration-none">{{this.username}}</a> - {{this.name}} {{this.surname}} <a href="/feed/disconnect/{{this._id}}" class="btn btn-danger btn-sm">Unfollow</a><br>
    {{/each}}
    {{#each userNotFriends}}
        <img src="{{this.profilePhoto}}" width="25px" height="25px"> <a href="/profile/{{this._id}}" class="link-dark text-decoration-none">{{this.username}}</a> - {{this.name}} {{this.surname}} <a href="/feed/connect/{{this._id}}" class="btn btn-primary btn-sm">Follow</a><br>
    {{/each}}
</div>