{{>navbar userInfo=userInfo}}

<div class="jumbotron text-center mt-3">
  <h1 class="display-4">{{currentUser.name}}'s Feed</h1>
  <p class="lead">Feeling hungry? If not you'll be soon....</p>
  <hr class="my-4">
  <p>Connect with your friends to see their posts!</p>
  <p class="lead">
    <a href="/feed/connect" class="btn btn-primary">Connect</a>
  </p>
</div>

<form action="/feed" method="POST" class="border border-2 p-2 bg-light feed-post" enctype="multipart/form-data">
<div class="form-group">
    <input type="text" class="form-control" id="text" aria-describedby="text" placeholder="Post" name="text">
</div>
<div class="mb-3">
  <label for="formFile" class="form-label">Upload an Image</label>
  <input class="form-control" type="file" id="formFile" name="imgUrl">
</div>
<button class="btn btn-secondary" type="submit">Post</button>
</form>

<div class="allPosts">
    {{#each allPosts}}
    <div class="post border border-2 p-3 mb-3 bg-light">
        <h4><div class=" d-flex align-items-center"><img class="rounded-circle" style="margin-right: 10px;" src="{{user.profilePhoto}}" alt="{{user.username}}" width="30px" height="30px"> <a href="/profile/{{user._id}}" class="link-dark text-decoration-none">{{user.username}}</a></div></h4>
        <i class="text-muted">{{formatDate createdAt}}</i>
        <p>{{text}}</p>
        {{#if postPhoto}}
        <img src="{{postPhoto}}" class="postPhoto">
        {{/if}}
        <br><div style="display: flex, align-items: center">
        <a class="like-button" href="/feed/post/like/{{_id}}"><img class="like-hat" src="/images/welcome.png" alt=""></a> {{likeCount}}
        <br>
        <p>Liked by:{{#each likes}} <a href="/profile/{{this._id}}" class="link-dark text-decoration-none">{{this.username}}</a>, {{/each}}</p>
        </div>
        <hr>
        <p>Comments</p>
        <ul class="list-group list-group-flush">
            {{#each comments}}
                <li class="list-group-item d-flex align-items-center"><img width="30px" height="30px" class="rounded-circle" style="margin-right: 5px;" src="{{this.author.profilePhoto}}" alt="{{this.author.name}}"><a href="/profile/{{this.author._id}}" class="link-dark text-decoration-none"><strong>{{this.author.username}}</a></strong> &nbsp; {{this.content}}</li>
            {{/each}}
        </ul>
        <hr>
        <form class="comment-form" action="/feed/post/comment/{{_id}}" method="POST">
          <div class="input-group">
              <img src="{{../userInfo.profilePhoto}}" alt="" class="img-thumbnail" width="50px">
              <input class="form-control" aria-label="With textarea" name="content" placeholder="Comment" style="resize: none">
              <button class="btn btn-secondary ml-1" type="submit">Post</button>
          </div>
        {{#ifEquals ../currentUser.username user.username}}
            <a href="/feed/delete/{{_id}}" class="btn btn-danger mt-2">Delete</a>
        {{/ifEquals}}
        </form>
    </div>
  {{/each}}
</div>

<a href="/welcome">Back</a>