<h1>{{currentUser.name}}'s Feed</h1>
<p>Create new post</p>
<form action="/feed/post" method="POST" style="border-style: dashed;">
    <label for="text">Text: </label>
    <input type="text" name="text" placeholder="Text">
    <label for="image">Image: </label>
    <input type="text" name="image" placeholder="Image Link">
    <br>
    <button type="submit">Create</button>
</form>
<h3>Posts:</h3>

<div class="allPosts">
    {{#each allPosts}}
    <div class="post" style="border-style: solid; margin:5px; padding: 5px">
        <h4>{{user.username}}</h4>
        <i>{{createdAt}}</i>
        <p>{{text}}</p>
        <br>    
        <img src="{{image}}" width="100px" height="100px">
        <br>
        <a href="/feed/post/like/{{_id}}">&#128151</a>
        <br>
        <p>Likes:{{#each likes}} {{this.username}} {{/each}}</p>
    </div>
  {{/each}}
</div>

<a href="/welcome">Back</a>