{{>navbar userInfo=userInfo}}



<h1>{{currentUser.name}}'s Feed</h1>
<p>Find my friends:</p>
<form action="/feed/searchFriends" method="POST">

  <label for="search"></label>
  <input type="text" name="search" placeholder="Name" required>
  <button type="submit">🔎</button>

</form>
<div class="searchContainer">
    {{#each userList}}
        
        <p>{{this.username}} - {{this.name}} {{this.surname}} - <a href="/feed/follow/{{this._id}}">Follow</a></p>
    
    {{/each}}
</div>
<form action="/feed" method="POST" style="border-style: solid; padding: 5px;" enctype="multipart/form-data" >
<p>NEW POST:</p>
    <label for="text">Text: </label>
    <input type="text" name="text" placeholder="Text">
    <br>
    <br>
    <label for="postPhoto"></label>
    <input type="file" name="imgUrl"/>
    <br>
    <br>
    <button type="submit">POST</button>
</form>

<h3></h3>
<div class="allPosts">
    {{#each allPosts}}
    <div class="post">
        <h4><a href="/profile/{{user._id}}">{{user.username}}</a></h4>
        <i>{{formatDate createdAt}}</i>
        <p>{{text}}</p>
        {{#if postPhoto}}
        <br>    
        <img src="{{postPhoto}}" class="postPhoto">
        {{/if}}
        <br>
        <a class="like-button" href="/feed/post/like/{{_id}}">&#128151</a> {{likeCount}}
        <br>
        <p>Liked by:{{#each likes}} <a href="/profile/{{this._id}}">{{this.username}}</a> {{/each}}</p>
        <hr>
        <p>COMMENTS: </p>
        <ul>
            {{#each comments}}
                <li>{{this.content}} - <i>{{this.author.name}}</i></li>
            {{/each}}
        </ul>
        <hr>
        <form class="comment-form" action="/feed/post/comment/{{_id}}" method="POST">
            <label for="content"></label>
            <input type="text" name="content" placeholder="Comment">
            <button type="submit">Post Comment</button>
        </form>
    </div>
  {{/each}}
</div>

<a href="/welcome">Back</a>