<h1>{{currentUser.name}}'s Feed</h1>
<p>Create new post</p>
<form action="/feed/post" method="POST" style="border-style: dashed;">
    <label for="text">Text: </label>
    <input type="text" name="text" placeholder="Text">
    <br>
    <br>
    <label for="imgUrl"></label>
    <input type="file" name="imgUrl"/>
    <br>
    <br>
    <button type="submit">Create</button>
</form>
<h3>Posts:</h3>

<div class="allPosts">
    {{#each allPosts}}
    <div class="post" style="border-style: solid; margin:5px; padding: 5px">
        <h4>{{user.username}}</h4>
        <i>{{createdAt}}</i>
        <p>{{text}}</p>
        {{#if image}}
        <br>    
        <img src="{{image}}" width="100px" height="100px">
        {{/if}}
        <br>
        <a href="/feed/post/like/{{_id}}">&#128151</a> {{likeCount}}
        <br>
        <p>Likes:{{#each likes}} {{this.username}} {{/each}}</p>
        <br>
        <p>Comments: </p>
        <ul>
            {{#each comments}}
                <li>{{this.content}} - {{this.author.name}}</li>
            {{/each}}
        </ul>
        <br>
        <form action="/feed/post/comment/{{_id}}" method="POST" style="border-style: dashed;">
            <label for="content">Comment: </label>
            <input type="text" name="content" placeholder="Comment">
            <br>
            <button type="submit">Post Comment</button>
        </form>
    </div>
  {{/each}}
</div>

<a href="/welcome">Back</a>