{{>navbar userInfo=userInfo}}

<h1>{{currentUser.name}}'s Feed - <span class="badge bg-primary"><a href="/feed/connect" class="link-light text-decoration-none">Connect</a></span></h1>

<form action="/feed" method="POST" class="border border-2 p-2" enctype="multipart/form-data" >
<div class="form-group">
    <input type="text" class="form-control" id="text" aria-describedby="text" placeholder="Post" name="text">
</div>

<div class="mb-3">
  <label for="formFile" class="form-label">Upload an Image</label>
  <input class="form-control" type="file" id="formFile" name="imgUrl">
</div>
<button class="btn btn-primary" type="submit">POST</button>
</form>

<div class="allPosts">
    {{#each allPosts}}
    <div class="post border border-2 p-3 mb-3">
        <h4><img src="{{user.profilePhoto}}" alt="{{user.username}}" width="25px" height="25px"> <a href="/profile/{{user._id}}">{{user.username}}</a></h4>
        <i>{{formatDate createdAt}}</i>
        <p>{{text}}</p>
        {{#if postPhoto}}
        <br>    
        <img src="{{postPhoto}}" class="postPhoto">
        {{/if}}
        <br>
        <a class="like-button" href="/feed/post/like/{{_id}}">&#128151</a> {{likeCount}}
        <br>
        <p>Liked by:{{#each likes}} <a href="/profile/{{this._id}}">{{this.username}}</a>, {{/each}}</p>
        <hr>
        <p>COMMENTS: </p>
        <ul>
            {{#each comments}}
                <li>{{this.content}} - <a href="/profile/{{this.author._id}}"><i>{{this.author.name}}</i></a> <img width="20px" height="20px" src="{{this.author.profilePhoto}}" alt="{{this.author.name}}"></li>
            {{/each}}
        </ul>
        <hr>
       
            <form class="comment-form" action="/feed/post/comment/{{_id}}" method="POST">
                <div class="input-group">
                    <img src="{{../userInfo.profilePhoto}}" alt="" class="img-thumbnail" width="5%">
                    <textarea class="form-control" aria-label="With textarea" name="content" placeholder="Comment"></textarea>
                    <button class="btn btn-secondary mt-1" type="submit">Post Comment</button>
                    </div>
        {{#ifEquals ../currentUser.username user.username}}
            <a href="/feed/delete/{{_id}}" class="btn btn-danger mt-2">Delete</a>
        {{/ifEquals}}
        </form>
    </div>
  {{/each}}
</div>

<a href="/welcome">Back</a>